<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Periodly</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <h1>Periodly</h1>

    <p>Understand your cycle. Understand your body.</p>

    <a href="{{ url_for('register') }}">
        Get Started
    </a>

    <a href="{{ url_for('signin') }}">
        Sign In
    </a>

</body>
</html>